<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');

        body {
            font-family: Karla, sans-serif;
        }

        .tagline {
            font-size: 1.2em;
        }
    </style>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark">
        <div class="container">
            <h1>
                <a style="text-decoration: none;" class="text-white" href="/">EMPROVE</a>
            </h1>
            <ul class="nav-links" style="display: flex; list-style-type: none;">
                <li>
                    <p class="text-white" style="text-align: right">
                        <%= details.email %> &nbsp;&nbsp;
                    </p>
                </li>
                <li><a style="text-decoration: none;" class="text-white" href="/">| Sign out</a></li>
            </ul>
        </div>
    </nav>
    <main class="container py-5">
        <img src="/images/manager-dashboard.svg" width="400px" style="display: block; margin: auto auto;">
        <br>
        <h2 class="text-center mb-4">Welcome to your Manager Dashboard</h2>
        <h4 class="text-center mb-4">Employees assigned to you</h4>
            <% if(details!=null) { %>
                <table align="center" cellpadding="2px">
                    <% details.users.forEach(function(item){ %>
                        <tr>
                            <td>
                                <i class="fa-regular fa-user-circle fa-2x">&nbsp;</i>
                            </td>
                            <td>
                                <a style="text-decoration: none;" href="/admin-to-user/<%= item %>">
                                    <%= item %>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                </table>
                <% } %>
    </main>

</body>

</html>