@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Karla:wght@600&display=swap');

body {
    font-family: Inter, sans-serif;
}

.header-font-prop {
    font-family: Karla, sans-serif;
}

.task-grid {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px 30px;
}

.our-card-top {
    position: relative;
}

.our-custom-input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.our-custom-input-interior {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    transform: translateY(-50%);
}